In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("Linear Regression.xlsx",sheet_name=0)

In [3]:
df.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 5 columns):
price          21613 non-null int64
sqft_living    21613 non-null int64
bedrooms       21613 non-null int64
bathrooms      21613 non-null float64
floors         21613 non-null float64
dtypes: float64(2), int64(3)
memory usage: 844.3 KB

# Model Building

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

from sklearn.model_selection import train_test_split

In [9]:
def makeModel(a,b):
    x = pd.DataFrame(df[a])
    y = pd.DataFrame(df[b])

    x_train ,x_test, y_train , y_test = train_test_split(x,y,random_state=2,test_size = 0.3)
    lr.fit(x_train,y_train)

    print("Accuracy on Test Data of",a,"and",b,"is:",lr.score(x_test,y_test))
    print("\nCoeficents : ",lr.coef_)
    print("Intercept : ",lr.intercept_)

### Model - 1 (Price and Sq_living)

In [10]:
makeModel("sqft_living","price")

Accuracy on Test Data of sqft_living and price is: 0.49523542130427234

Coeficents :  [[280.08722358]]
Intercept :  [-40442.17153721]

### Model - 2 (Price and Bedrooms)

In [11]:
makeModel("bedrooms","price")

Accuracy on Test Data of bedrooms and price is: 0.10373065781231272

Coeficents :  [[118301.95858814]]
Intercept :  [142835.36507296]

### Model - 3 (Price and bathrooms)

In [13]:
makeModel("bathrooms","price")

Accuracy on Test Data of bathrooms and price is: 0.2729690023991551

Coeficents :  [[249375.03130974]]
Intercept :  [13513.13889573]

### Model - 4 (Price and floors)

In [14]:
makeModel("floors","price")

Accuracy on Test Data of floors and price is: 0.0687966797810432

Coeficents :  [[171935.92961605]]
Intercept :  [283855.89650181]

### Model - 5 (DV:-Price and IDV:- sq_living, bedrooms, bathrooms, floors)

In [15]:
makeModel(["sqft_living","bedrooms","bathrooms","floors"],"price")

Accuracy on Test Data of ['sqft_living', 'bedrooms', 'bathrooms', 'floors'] and price is: 0.5105722437453338

Coeficents :  [[   306.72838252 -55720.77178327   8705.50888837   -266.52957882]]
Intercept :  [73808.86183529]